.container {
	height: 100%;
	background-color: #fafafa;
}

.transactionsHeader {
	font-family: Inter;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0em;

	color: #1a181e;
	margin-bottom: 20px;
}

.transactionsContent {
	background-color: #fff;
	padding: 12px 12px 24px 12px;
	border-radius: 8px;
	box-shadow: 0px 2px 6px 0px #1a181e0a;
}

.tableControls {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 12px;
}

.transactionSearch {
	max-width: 248px;
	height: 40px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	padding: 0 16px;
	margin-right: 15px;

	display: flex;
	align-items: center;
	gap: 8px;
}

.transactionSearch input {
	width: 100%;

	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;

	color: #999999;
}
.transactionSearch input:focus-within {
	outline: none;
}

.tableControlsRight {
	display: flex;
	gap: 12px;
}

.sortTable {
	width: fit-content;
	height: 36px;
	padding: 0 10px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;

	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;

	color: #4d4d4d;
}

.downloadTable {
	width: 36px;
	height: 36px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.transactionsTable {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 24px;
}

.headingRow {
	text-align: left;
	height: 40px;
}
.headingRow th {
	background-color: #f2f2f2;
	vertical-align: middle;
	padding: 0 12px;
}
.headingRow th:first-child {
	border-radius: 4px 0 0 4px;
}
.headingRow th:last-child {
	border-radius: 0 4px 4px 0;
}

.orderDate,
.transactionFees {
	display: flex;
	align-items: center;
	gap: 4px;
}
.currentSortIconContainer {
	display: flex;
	cursor: pointer;
}

.transactionFees {
	justify-content: flex-end;
}
.transactionFees .info {
	cursor: pointer;
}

.headingRow th .currentSortIcon {
	margin-left: 4px;
	width: 8px;
}

th.tableNumData {
	text-align: right;
	vertical-align: middle;
}

th {
	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0em;

	color: #4d4d4d;
}

.pagination,
.pages,
.pageNum,
.previousPage,
.nextPage {
	display: flex;
	align-items: center;
}

.pagination {
	justify-content: center;
	gap: 24px;
}

.previousPage {
	padding: 0 12px 0 6px;
}

.nextPage {
	padding: 0 6px 0 12px;
}

.previousPage,
.nextPage {
	gap: 6px;
	width: fit-content;
	height: 32px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	font-weight: 500;
}

.previousPage,
.pageNum,
.nextPage {
	font-family: Inter;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0em;

	color: #4d4d4d;

	cursor: pointer;
}

.pages {
	gap: 8px;
}

.pageNum {
	width: 28px;
	height: 28px;
	border-radius: 4px;
	font-weight: 400;

	justify-content: center;
}

.activePage {
	background-color: #146eb4;
	color: #fff;
	font-weight: 500;
}

@media (max-width: 900px) {
	.transactionsContent {
		width: 100%;
		overflow: scroll;
	}

	.headingRow {
		overflow-x: scroll;
	}

	.sortTableText {
		display: none;
	}
}
